@model IEnumerable<ShukriApplication.Models.ScheduleDate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassRoom.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ScheduleDateId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ScheduleDateId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ScheduleDateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
