

@model IEnumerable<ShukriApplication.Models.ClassRoom>

@{
    ViewData["Title"] = "Index";
}

<h2>Create Class</h2>

<p>
   
    <a asp-action="Create" class="btn btn-success ">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LectureName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LectureName)
                </td>

                <td>
                   @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
